.datatable{
    height: 100%;
    padding: 20px;
    .dTitle{
        width: 100%;
        font-size: 18px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: lightgray;
        font-weight: 600;
        .link{
            color: #4267B2;
            cursor: pointer;
            border: 1px solid #4267B2;
            padding: 5px;
            font-size: 15px;
            font-weight: 500;
            border-radius: 4px;
            &:hover{
                color: green;
                border: 1px solid green;
            }
        }
    }
    .cellWithImg{
        display: flex;
        align-items: center;
        .cellImg{
            width: 34px;
            height: 34px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
        &.active{
            background-color: rgba(0,120,3,0.157);
            color: green;
        }
        &.passive{
            background-color: rgba(255,213,3,0.07);
            color: goldenrod;
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap:20px;
        .viewBtn{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0,0,139,0.6);
            cursor: pointer;
        }
        .deleteBtn{
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted red;
            cursor: pointer;
        }
    }
}