.app.dark{
    background-color:#222;
    color:rgb(156,156,156);
 .chartGrid{
    stroke:rgba(228,228,228,0.219)
}
.table{
    background-color: #111;
    .tableCell{
        color: gray;
    }
}
 .navbar{
     color: #999;
     border-color: #333;
     .search{
        border-color: gray;
    }
    input{
        color: gray;
    }
 }
 .sidebar{
     background-color: #111;
     border-color: #333;
     hr{
         border-color: #333;
     }
     ul{
         
         li{
            
             &:hover{
                 background-color: #333;
             }
             .MuiSvgIcon-root{
                 color: #4267b2;
             }
         }
     }
 }
 .datatable{
     .datagrid{
         color: gray;
        border: none;
        .MuiSvgIcon-root{
            color: gray;
        }
        .viewBtn{
           color: #4267b2;
        }
     }
 }
 input{
     background-color: transparent;
     color: gray;
 }
}
